PORT=8000
MONGODB_URI=mongodb+srv://sovelyfresherbatch5_db_user:gnNGY2XFGhhNVhTy@cluster0.oime7md.mongodb.net/?appName=Cluster0
CORS_ORIGIN=http://localhost:5173
ACCESS_TOKEN_SECRET=3x@mpl3s3cr3tT0k3nf0rD3v3lopm3nt
ACCESS_TOKEN_EXPIRY=1d
RAZORPAY_KEY_ID=rzp_test_SV5K1Ac3bT2vOi
RAZORPAY_KEY_SECRET=OGXWiGmsdqbnc7deEAmpRTJd