PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname
CORS_ORIGIN=http://localhost:5173
ACCESS_TOKEN_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRY=1d
RAZORPAY_KEY_ID=rzp_test_your_key_here
RAZORPAY_KEY_SECRET=your_razorpay_secret_here

# Qikink API
QIKINK_CLIENT_ID=873654299796902
QIKINK_CLIENT_SECRET=your_qikink_secret_here
QIKINK_BASE_URL=https://api.qikink.com